body{background-color: #f2a693;
text-align: center;}
.menu{

    cursor:pointer;
    list-style: none;
    font-family:Georgia, 'Times New Roman', Times, serif;
    background-color:#f2e1d5;
    width: auto;
    max-width: 1000px;
    margin: 10px auto;
    
    }
    
    .menu ul,li, a{
    text-decoration: none;
    color:#625032;
    padding: 13px;
    display:inline-block;
 
    
    }
    
    .menu,li{
        display:inline-block;
     text-align:center;      
     
    }
    
    .menu li:hover{
        background:#dd7054;
    }
    
    h1{text-align:initial;
    color:#f7e8dd;
    font-family:Georgia, 'Times New Roman', Times, serif
    }
    
    div#servicios{margin:auto;
margin-top: 10px;
width: 400px;
height: 330px;
font-family:Arial, Helvetica, sans-serif;
background-color:#9ce9e1;
padding: 10px;
color: rgb(104, 72, 72);
text-align:justify;
float: left;
font-size: 17px;}

div#contacto{
    margin: auto;
    
    width: 400px;
    height: 200px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#9ce9e1;
    padding: 10px;
color: rgb(255, 255, 255);
text-align: justify;
font-size: 17px;}

h1{color:rgb(253, 121, 121);
text-align: center;}
div#soy{
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    background-color:#9ce9e1;
    padding: 7px;
color: rgb(104, 72, 72);
text-align: justify;
font-size: 17px;
font-weight: 30px;
}

div#logos
{border-style: solid;
border-color:#9ce9e1;
width:900px;
height: 300px;
margin: 100px;
padding: 15px;

}

li{text-align: center;}

div#gif
{float: right;
}

div#mapa,iframe
{width: 100%;
color:rgb(34, 58, 118);
font-size: 20px;
font-family: Arial, Helvetica, sans-serif;
}
h2
{color:#ffffff;
font-size: 29px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}